#grid-one, #grid-two{
    display: inline-grid;
    grid-template-columns: repeat(9, auto);
    padding: 10px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    align-content:center;
}

.grid-heading {
    text-align:center;
}

.letter-heading {
    padding: 10px 0;
}