#grid-one {
    display: inline-grid;
    grid-template-columns: repeat(8, auto);
    padding: 10px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-heading {
    text-align:center;
}